@page "/chat/{JobId:long}/{ApplicantId:long}"
@using System.Security.Claims
@using Microsoft.AspNetCore.SignalR.Client
@using WebApp.DTOs.Chat
@inject NavigationManager Navigation
@implements IAsyncDisposable
@inject AuthenticationStateProvider AuthStateProvider
@inject IJSRuntime JS
@rendermode InteractiveServer
@attribute [Authorize]

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Chat Unavailable:</strong> @errorMessage
    </div>
}else
{
    <div class="chat-wrapper">
        <div class="chat-container">
            <div id="messagesList" class="messages-list">
                @foreach (var msg in messages)
                {
                    var isMe = msg.SenderId == CurrentUserId;

                    <div class="message-row @(isMe ? "me" : "other")">
                        <div class="message-bubble">
                            <div class="sender-name">@msg.SenderName</div>
                            <div class="message-text">@msg.Body</div>
                            <div class="message-time">@msg.SendAt</div>
                        </div>
                    </div>
                }
            </div>

            <div class="input-area">
                <input @bind="messageInput"
                       @bind:event="oninput"
                       @onkeyup="HandleKeyUp"
                       placeholder="Type a message..."
                       class="message-input"
                       disabled="@(!CanSend)" />
                <button @onclick="Send"
                        disabled="@(!CanSend || string.IsNullOrWhiteSpace(messageInput))"
                        class="send-button">
                    Send
                </button>
            </div>
        </div>
    </div>
}
@code {
    [Parameter] public long JobId { get; set; }
    [Parameter] public long ApplicantId { get; set; }
    private long CurrentUserId; 
    private string CurrentUserName = string.Empty;
    private HubConnection? _hubConnection;
    private List<ChatMessageDto> messages = new();
    private string? errorMessage;
    private string? messageInput;
    private long? activeApplicationId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        
        if (user.Identity is null || !user.Identity.IsAuthenticated)
        {
            errorMessage = "You must be logged in to chat.";
            return;
        }
        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            CurrentUserName = user.Identity.Name;
            var idClaim = user.FindFirst(ClaimTypes.NameIdentifier);
            if (idClaim != null && long.TryParse(idClaim.Value, out var parsedId))
            {
                CurrentUserId = parsedId;
            }
        }

        _hubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5177/hub/chat")
            .WithAutomaticReconnect()
            .Build();
        
        _hubConnection.On<string, string, string, long>("ReceiveMessage", async (user, body, time, senderId) =>
        {
            messages.Add(new ChatMessageDto{SenderName = user, Body = body, SendAt = time, SenderId = senderId});
            
            await InvokeAsync(async () =>
            {
                StateHasChanged();
                await JS.InvokeVoidAsync("chatScroll.scrollToBottom", "messagesList");
            });
        });
        
        _hubConnection.On<List<ChatMessageDto>, long>("ReceiveHistory", async (history, appId) =>
        {
            activeApplicationId = appId;
            messages.AddRange(history);
            await InvokeAsync(async () =>
            {
                StateHasChanged();
                await JS.InvokeVoidAsync("chatScroll.scrollToBottom", "messagesList");

            });
        });
        _hubConnection.On<String>("ErrorMessage", (reason) =>
        {
            errorMessage = reason;
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
        await _hubConnection.SendAsync("JoinChat", JobId, ApplicantId);
    }
    
    public async Task Send()
    {
        if(_hubConnection is not null && activeApplicationId.HasValue)
        {
            await _hubConnection.SendAsync("SendMessage", activeApplicationId.Value, messageInput, CurrentUserId);
            messageInput = "";
            await JS.InvokeVoidAsync("chatScroll.scrollToBottom", "messagesList");
        }
    }
    public bool CanSend => _hubConnection?.State == HubConnectionState.Connected && activeApplicationId.HasValue;

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter") await Send();
    }

}